---
import { Icon } from "astro-icon/components";
import { formatFrontmatterDate } from "../../utils/date";
import { resolveCategory } from "../../utils/categories";
import { Image } from "astro:assets";

const { id, data } = Astro.props;
const category = await resolveCategory(data.category);
---

<article class="group h-full">
  <a
    href={`/blog/${id}`}
    class="flex flex-col gap-3 h-full border border-gray-200 overflow-hidden rounded-xl"
  >
    <div
      class="text-center w-full flex-1 flex flex-col justify-between items-center p-4"
    >
      <p
        class="flex flex-wrap gap-2 gap-x-4 items-center uppercase justify-center text-xs"
      >
        <span class="btn btn-outline px-2 py-1 h-auto text-[10px] rounded-md"
          >{category.title}</span
        >
        <span>{data.author.name}</span>
        <time datetime={data.pubDate.toISOString()}>
          {formatFrontmatterDate(data.pubDate)}
        </time>
      </p>
      <h3
        class="font-semibold text-xl sm:text-2xl mb-4 mt-0! group-hover:underline"
      >
        {data.title}
      </h3>
      <p class="mb-8 mt-0! text-sm sm:text-base">{data.description}</p>

      <button
        class="btn bg-main border-main text-white rounded-lg hover:bg-green-600 w-full mt-auto"
      >
        Lire la suite
        <Icon name="lucide:arrow-up-right" size={16} />
      </button>
    </div>
  </a>
</article>
