---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

const { data, id } = Astro.props;
---

<article class="">
  <a href={`/service/${id}`}>
    <Image
      src={data.thumbnail}
      alt={data.title}
      width="400"
      height="200"
      format="webp"
      quality={45}
      class="w-full h-auto aspect-2/1 rounded-xl object-cover mb-4"
    />

    <h3 class="font-semibold text-xl sm:text-2xl my-4">{data.title}</h3>
    <p class="mb-4 mt-4 text-sm sm:text-base">{data.description}</p>

    <button
      class="btn btn-outline hover:bg-main hover:text-white hover:border-main rounded-lg"
    >
      Book Now
      <Icon name="lucide:arrow-up-right" size={16} />
    </button>
  </a>
</article>
