---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import { Icon } from "astro-icon/components";
import NewsCard from "../components/card/NewsCardRelated.astro";

import Layout from "./Main.astro";
type Props = CollectionEntry<"blog">["data"];

const {
  title,
  description,
  pubDate,
  updatedDate,
  thumbnail,
  author,
  category,
  relatedPosts = [],
  socials = false,
  breadcrumbParent = "Blog",
} = Astro.props;
---

<Layout title={title} description={description} image={thumbnail}>
  <div class="container pt-0 pb-10 lg:py-20">
    <article class="post">
      <div class="breadcrumbs text-sm">
        <ul class="flex! flex-wrap">
          <li><a href="/">Home</a></li>
          <li><a href="./">{breadcrumbParent}</a></li>
          <li>{title}</li>
        </ul>
      </div>
      <div class="title text-center my-5 sm:my-10">
        <div class="flex flex-wrap gap-x-6 gap-y-2 justify-center items-center">
          <FormattedDate date={pubDate} />
          {
            updatedDate && (
              <div class="last-updated-on">
                Last updated on <FormattedDate date={updatedDate} />
              </div>
            )
          }
          {author && `By ${author.name}`}
          {
            category && (
              <a
                href={`/blog/${category.slug}`}
                class="bg-main text-white rounded py-1 px-2"
              >
                {category.title}
              </a>
            )
          }
        </div>
        <h1>{title}</h1>
      </div>
      <div class="hero-image">
        {
          thumbnail && (
            <Image
              width={1020}
              height={510}
              src={thumbnail}
              alt=""
              class="w-full h-auto aspect-2/1 object-cover rounded-lg"
              format="webp"
              quality={45}
              fetchpriority="high"
              loading="eager"
            />
          )
        }
      </div>
      <div class="prose">
        <div class="max-w-5xl mx-auto pt-5 lg:pt-10">
          <slot />
          <hr class="mt-5 lg:mt-20 opacity-10" />
          <div class="flex justify-between flex-wrap items-center gap-4 pt-5 lg:pt-10">
             {
              socials && (
                <p class="font-semibold w-full sm:w-auto">Contacts:</p>
                <div class="flex flex-wrap justify-start gap-x-6 gap-y-2 items-center mr-auto">
                  <a
                    href="https://wa.me/1234567890"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="whatsapp"
                    class="hover:-rotate-12"
                  >
                    <Icon name="simple-icons:whatsapp" size={20} />
                  </a>

                  <a
                    href="https://t.me/username"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="telegram"
                    class="hover:-rotate-12"
                  >
                    <Icon name="simple-icons:telegram" size={20} />
                  </a>

                  <a
                    href="viber://chat?number=%2B1234567890"
                    target="_blank"
                    rel="noopener noreferrer"
                    title="viber"
                    class="hover:-rotate-12"
                  >
                    <Icon name="simple-icons:viber" size={20} />
                  </a>

                  <a
                    href="tel:+1234567890"
                    title="phone"
                    class="hover:-rotate-12"
                  >
                    <Icon name="heroicons:phone" size={20} />
                  </a>
                </div>
              )
            }
            <a href="./" class="btn btn-outline">
              <Icon name="lucide:arrow-left" size={18} /> Go Back</a
            >

           
          </div>
        </div>
      </div>

      {
        relatedPosts.length > 0 && (
          <section class="mt-10">
            <h2>Latest Post</h2>
            <div class="grid grid-cols-1 md:grid-cols-3 gap-6 mt-10">
              {relatedPosts.map((item) => (
                <NewsCard {...item} />
              ))}
            </div>
          </section>
        )
      }
    </article>
  </div>
</Layout>
